.megaMenu {
  position: absolute;
  padding: 4rem 0;
  width: 100%;
  left: 0;
  top: 10rem;
  background-color: var(--lightColor2);
  border-top: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
  max-height: 60rem;
  overflow: auto;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  text-align: left;
  transition: all 0.3s ease-in-out;
  z-index: 1040;
  opacity: 0;
  visibility: hidden;
}

.megaMenu ul li a {
  transition: 0.2s;
}
.megaMenu ul li a:hover {
  color: var(--themeColor);
}
.megaMenuLink:hover .megaMenu {
  opacity: 1;
  visibility: visible;
}

.navbar-nav .nav-item .nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.megaMenuImg {
  max-height: 35rem;
  transition: 0.3s;
  object-fit: cover;
  object-position: top;
}
.megaMenuImg:hover {
  transform: scale(1.1);
}
