.btnPrimary {
  background-color: var(--themeColor) !important;
  color: var(--whiteColor) !important;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease 0s;
}

.btnPrimary:hover {
  color: var(--whiteColor) !important;
  opacity: 0.85;
  /* background-color: var(--themeColorSecondary) !important; */
}

.btnPrimaryOutline {
  color: var(--themeColor) !important;
  border: 1px solid var(--themeColor);
  font-size: 1.6rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease 0s;
}
.btnPrimaryOutline:hover {
  background-color: var(--themeColor);
  color: var(--whiteColor) !important;
  opacity: 0.85;
}

.btnSecondary {
  background-color: var(--themeColorSecondary) !important;
  color: var(--whiteColor) !important;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease 0s;
}

.btnSecondary:hover {
  color: var(--whiteColor) !important;
  opacity: 0.85;
  /* background-color: var(--themeColorSecondaryDark) !important; */
}

.btnDark {
  background-color: var(--themeColorSecondaryDark) !important;
  color: var(--whiteColor) !important;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease 0s;
}

.btnDark:hover {
  color: var(--whiteColor) !important;
  opacity: 0.85;
  /* background-color: var(--themeColorSecondary) !important; */
}
