@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /* transition: all 0.2s linear; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--fontRubik);
  color: var(--darkColor);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  border-color: var(--borderColor);
  overflow-x: hidden;
}

section {
  margin-bottom: 10rem;
}

section.bgLight4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, 1.5rem);
  padding-left: var(--bs-gutter-x, 1.5rem);
}

@media (min-width: 1500px) {
  .container-fluid {
    padding-right: var(--bs-gutter-x, 5rem);
    padding-left: var(--bs-gutter-x, 5rem);
  }
}

p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.2;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* .h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
} */

button,
.btn,
.form-control,
.form-select {
  border: none;
  box-shadow: none;
}
button:focus,
.btn:focus,
.form-control:focus {
  border: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: var(--darkColor);
}

a:hover {
  color: var(--darkColor);
}

.hoverable {
  transition: 0.2s;
}

.hoverable:hover {
  color: var(--themeColor) !important;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  box-shadow: none !important;
}

.nav-link {
  transition: 0.2s;
  color: var(--themeColorSecondaryDark);
}
.nav-link:hover {
  color: var(--themeColor) !important;
}
.nav-link.active {
  color: var(--themeColor) !important;
}

.navbar .nav-link {
  font-weight: 500;
}
