:root {
  /* colors */
  --themeColor: #ff6b6b;
  --themeColorSecondary: #794afa;
  --themeColorSecondaryDark: #453c5c;

  --lightColor: #7c899a;
  --lightColor2: #f2f3f5;
  --borderColor: #e5e8ec;
  --darkColor: #0a021c;
  --whiteColor: #ffffff;
  --blackColor: #000000;

  /* font */
  --fontPoppins: "Poppins", sans-serif;
  --fontRubik: "Rubik", sans-serif;
}
